.apply-form-wrap {
	background-color: #fff;
	width: 100%;
	overflow: auto;
		.form-title {
				text-align: center;
		}
		.form-subtitle {
				background-color: #f7f7f7;
				height: 50px;
				line-height: 50px;
				font-size: 15px;
				.interview-info {
						width: 980px;
						margin: 0 auto;
						position: relative;
						.interview-date {
								position: absolute;
								right: 0;
						}
				}
    }
    // .ant-form-explain{
    //   position: absolute;
    // }
    // [class*='ant-col-']{
    //   margin-bottom: 10px;
    // }
}

.ant-form-item-control {
		line-height: unset;
}

.ApplyFormShowBox{
	background-color: #fff;
	width: 100%;
	overflow: auto;
	padding: 0 20px;
	.content{
		margin: 10px 20px;
		.contentBase{
			font-size: 12px;
			line-height: 24px;
		}
	}
	.title{
		text-align: center;
		font-size: 20px;
	}
	.form-subtitle {
			background-color: #f7f7f7;
			height: 50px;
			line-height: 50px;
			font-size: 15px;
			padding: 0 20px;
			.interview-info {
					margin: 0 auto;
					position: relative;
					.interview-date {
							position: absolute;
							right: 30px;
					}
					.printerBtn{
						position: absolute;
						right: 0;
					}
			}
	}
	.ant-table-wrapper{
		display: block;
		flex: none;

		.ant-table-placeholder{
			display: none;
		}
	}
}
