.question-box{
  position: relative;
  padding-left: 100px;
  padding-right: 10px;
  margin-bottom: 12px;
  line-height: 39px;
  >label{
    position: absolute;
    left: 0;
    text-align: left;
  }

  .question-info{
    margin: 0;
    padding: 0;
    list-style: none;
    .question-item{

      .ant-radio-wrapper{
        display: block;
        line-height: 24px;
        white-space: normal;
      }
      textarea{
        resize: none;
        margin-left: -20px;
      }
    }
  }
}
