.ant-card.ant-card-type-inner {
  .shareCardBox{
    overflow-y: auto;
    .ant-card-body{
      display: block;
      .sharewindow-headBg{
        background-image: url("../../themes/shareWindow-bg.png");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;

        height:400px;
        position: relative;
        margin: 0 -10px;
        .your-promo{
          position: absolute;
          width: 200px;
          color: #fff;
          font-size: 16px;
          left: 50%;
          margin-left: -100px;
          top: 170px;
          text-align: center;
        }
      }
      .shareCardTitle{
        .title{
          font-size: 16px;
          margin-right:20px;
        }
      }
      h3{
        margin-top:20px;
      }
      ol{
        line-height: 30px;
      }
      .share-bottom{
        border:1px solid #d3ddde;
        padding: 20px 0;
        margin-top: 20px;
        .shareContent{
          display: inline-block;
          padding: 0 10px;
          background-color: #e6e6e6;
          height: 30px;
          border-radius: 10px;
          vertical-align: middle;
          line-height: 30px;
          margin: 0 10px;
        }
      }
    }
  }
}
