.host-item.ant-form-item .ant-form-item-control-wrapper {
  vertical-align: inherit;
}

.offer-approvelist-item {
  // flex: 1;
  // display: flex;
  // flex-direction: column;
  // min-height: 236px;
  margin-top: 40px;
  margin-bottom: 40px;
  min-height: 218px;
  .ant-table-wrapper {
    // min-height: 210px;
  }
}

.offer-approvelist-item-title {
  align-items: baseline;
  justify-content: space-between;
  display: flex; // flex: 1
}

.feedback-collpase {
  border-width: 0;
  .ant-collapse-item {
    >.ant-collapse-header {
      padding-left: 0px;
      .arrow {
        top: 5px;
        right: 15px;
        left: auto;
      }
    }
  }
}

.interview-template-question {
  position: relative;
  .interview-template-delete-icon {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.interview-template-question-label {
  display: inline-block;
  position: absolute;
  left: 0;
  line-height: 39px;
  margin-left: 20px;
}

.offerapprove-question-item {
  position: relative;
  .offerapprove-delete-icon {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
  }
}