.host-item.ant-form-item .ant-form-item-control-wrapper {
  vertical-align: inherit;
}

.offer-approvelist-item {
  // flex: 1;
  // display: flex;
  // flex-direction: column;
  // min-height: 236px;
  margin-top: 40px;
  margin-bottom: 40px;
  min-height: 218px;
  .ant-table-wrapper{
    // min-height: 210px;
  }
}
.offer-approvelist-item-title{
  align-items: baseline;
  justify-content: space-between;
  display: flex;
  // flex: 1
}