.EditableFeild .ant-table-wrapper{
  height:200px;
}
.channel-description{
  .ant-tag{
    color:#56575b;
    padding:2px 0;
    width:100px;
    margin-left:10px;
    margin-right:0;
    border-width: 0;
    text-align: center;
  }
}
.ant-table-wrapper {
    border: 1px solid #e5e5e5
}

.ant-table-thead {
    background-color: #f2f2f2;
    font-size: 12px;
}

.ant-table-tbody {
    font-size: 12px;
    &>tr>td {
        border-bottom: 0
    }
    .ant-table-row {
        // height: 35px;
    }
    .ant-table-row:nth-child(even) {
        background-color: #f7f7f7;
    }
}

.ant-table-thead>tr>th {
    height: 50px;
}

.ant-table-thead>tr>th,
.ant-table-tbody>tr>td {
    // padding: 0;
}

.ant-table-thead>tr>th:first-child,
.ant-table-tbody>tr>td:first-child {
    // padding-left: 70px;
}

.ant-tree-title{
	.ant-tag{
		margin-left: 20px;
	}
}

.remind-inner-card{
	.ant-collapse-header{
		h4{
			line-height: 40px;
			position: relative;
			.ant-row.ant-form-item.ant-form-item-no-colon{
				position: absolute;
				right: 0;
			}
		}
	}
	.ant-collapse-content-box{
		.ant-row{
			vertical-align: middle;
			.ant-select.ant-select-enabled{
				top: 0;
			}
		}
	}
}

.ant-list-item{
	position: relative;
	.ant-list-item-action{
		position: absolute;
		top: 12px;
		right: 0;
	}
}
.remind-form-view{
	.collapse-form-title{
		margin: 20px;
	}
	.ant-card-head{
        background-color: transparent;
        min-height: unset;
	}
	.ant-collapse{
		border-width: 0;
		background-color: transparent;
		.ant-collapse-header{
			padding: 0;
			margin-left: 40px;
			margin-right: 16px;
			border-bottom: 1px solid #eef2f5;
			h4{
				font-size: 14px;
			}
		}
		.ant-collapse-content{
			border-width: 0;
			padding-left: 50px;
			.ant-form-item{
				margin:0 16px;
			}
			.ant-collapse-content-box{
				.ant-row>span{
					vertical-align: middle;
				}
			}
		}
	}
	.remind-inner-card{
		border-width: 0;
	}
}

.other-card{
  .ant-card-body{
    overflow: inherit !important;
  }
  .radio-group-nav{
    position: absolute;
    top: -70px;
    left: 200px;
    width: 350px;
    .ant-radio-button-wrapper{
      padding: 0 50px;
      &.ant-radio-button-wrapper-checked{
        background-color: #2298ef;
        color:#fff;
      }
    }
  }
}
.ant-form-horizontal .ant-form-item-no-colon.no-padding-left{
	padding-left: 0;
}
.talent-tag{
	margin-bottom: 10px;
}
.template-list{
  flex: 1;
  display: flex;
  flex-direction: column;
	overflow: auto;
	.ant-list-item-meta-description pre{
		white-space: normal;
	}
}
