.jobdetail-box{
  background-color: #fff;
  display: flex;
  flex: 1;
  .ant-col-18{
    height: 100%;
  }
  .jobdetail-box-tab{
    flex-direction: row;
    overflow-y: auto;
    height:100%;

    &.ant-tabs-vertical > .ant-tabs-content{
      flex:1;
      overflow-y: auto;
    }

    .baseinfo-item{
      line-height: 32px;
    }
    /*tabs1*/
    .ant-tabs-bar{
      width:200px;
      background: #f7f7f7;
      .ant-tabs-nav-container{
        padding-top:50px;
        .ant-tabs-nav{
          .ant-tabs-tab{
            height: 50px;
            line-height: 35px;
            font-size: 18px;
            text-align: left;
            text-indent: 10px;
            &.ant-tabs-tab-active{
              background: #32a0ee;
              color:#fff;
            }
          }
        }
      }
    }
    .firstStep-box{
      /*个人信息展示*/
      .jobdetail-infoshow{
          padding: 20px 100px 0 30px;
          position: relative;
          .baseinfo-item{
            line-height: 30px;
            font-size: 14px;
          }
      }
      .edit-button{
        position: absolute;
        right: 15px;
        top: 10px;
      }
    }
    /*tabs2*/

    .secondStep-panel{
      .addSaveBtn{
        position: absolute;
        right: 60px;
        top: 10px;
      }
    }
    .secondStep-box{
      padding: 50px 100px 20px 20px;
      .responsiItem{
        border:1px solid #eee;
        padding: 30px;
        margin: 20px;
        .content{
          margin-top:10px;
          .tags{

          }
        }
      }
    }
    /*tabs3*/
    .thirdStep-panel{
      .releaseJob{
        position: absolute;
        right: 60px;
        top: 10px;
      }
    }
    .thirdStep-box{
      padding: 60px 100px 20px 20px;
    }
  }
  /**slide*/
  .jobdetail-silde{
    padding: 20px;
    border-left: 1px solid #e6e6e6;
    .optionBox{
      text-align: center;
      border-bottom: 1px solid #e6e6e6;
      button{
        display: block;
        width: 80%;
        margin: 20px auto;
      }
    }
    .feed-scoresheet{
      margin-top: 20px;
      .ant-card{
        border: none;
        .ant-card-head{
          border: none;
          .ant-card-extra button{
            border: none
          }
        }
        .ant-card-body .ant-timeline .ant-timeline-item-content{
          padding-top: 10px;
          padding-bottom: 10px;
          padding-right: 20px;
          >.title{
            >button{
              margin-left: 5px;
              padding: 0;
              border: none;
            }
          }
          >.content{
            margin-top:10px;
          }
        }
      }
    }
    .approval-select{
      width:100%;
      margin-top: 10px;
    }
  }
}
