.schoolRecruitDetail{
  background: white;
  .detail_header{ border-bottom: solid 1px lightgray; padding: 40px 60px !important;}
  .detail_header,.detail_item{
     min-height: 50px;
     padding: 15px  60px 0 60px;
     .Item{margin-bottom: 30px;font-size: 18px}
     .headerItem{
       display: flex;
       justify-content: space-between;
       .anticon{
         color: #CDD8E1;
         font-size: 20px;
         margin-right: 5px;
         vertical-align: sub;
       }
       .logoImg{
          width: 100px;
          height: 100px;
       }
     }
     .item_skill{
        min-width: 100px !important;
        p{
          display: flex;
          justify-content: space-between;
        }
     }
  }
}


.ant-modal-iframe{
  .ant-modal{
    flex: 0 1 800px ;
  }
}

.searchItem{
  display: flex;
  justify-content:space-around;
}

.ant-row{
  text-align: left;

}
.schoolRecruitForm{
  .advanced-search-panel{
    .advanced-search-form{
      .ant-form-item{
        margin-bottom: 10px !important;
        }
    }
    .advanced-search-toolbar{
      position: absolute;
      right: 0;
      bottom: 10px;
      top: auto;
    }
  }
}


.advanced-search-toolbar{
  position: absolute;
  right: 0;
  top: 0;
}
.question-box{
  position: relative;
  padding-left: 100px;
  padding-right: 10px;
  margin-bottom: 12px;
  line-height: 39px;
  >label{
    position: absolute;
    left: 0;
    text-align: left;
  }

  .question-info{
    margin: 0;
    padding: 0;
    list-style: none;
    .question-item{

      .ant-radio-wrapper{
        display: block;
        line-height: 24px;
        white-space: normal;
      }
      textarea{
        resize: none;
      }
    }
  }
}

/*常用反馈*/
.feedback-tag-box{
  margin: 10px 0;
  padding-left: 100px;
  .feedback-quick-tag{
    background-color: #e5f1fd;
    color: #219bf0;
    border-radius: 10px;
    padding: 0 12px;
    height: 24px;
    line-height: 24px;
    box-sizing: content-box;
    margin: 5px;
  }
}



// <BaseForm onSubmit={this.handleFilter} ref={this.saveFormRef}>
     
// <FormItem label="公司产品" {...fromFullItemLayoutArr[0]}>
//       <div name='searchItem' className='searchItem' >
//        <Select name="job" label="期望职位" placeholder="请选择" fetch={`${APP_SERVER}/authRole/getRoleInfo`} renderItem={this.renderRoleOption} style={{ width: '350px' }} />
//         <Input name="name" label="毕业院校" style={{ width: '350px' }}  />
//           <div className='searchItem'>
//             <Select name="school" label="最低学历" placeholder="请选择" fetch={`${APP_SERVER}/authRole/getRoleInfo`} renderItem={this.renderRoleOption} style={{ width: '120px' }} />
//             <Select name="schoolw" label="" placeholder="请选择" fetch={`${APP_SERVER}/authRole/getRoleInfo`} renderItem={this.renderRoleOption} style={{ width: '120px' }} />
//          </div>
//        </div>
// </FormItem>

// <FormItem {...fromFullItemLayoutArr[0]} >
//  <div name='skill' className='searchItem'>
//         <Input name="skill" label="就读专业" />
//         <Select name="sex" label="性别" placeholder="请选择" fetch={`${APP_SERVER}/authRole/getRoleInfo`} renderItem={this.renderRoleOption} style={{ width: '120px' }} />
//         <Select name="schooll" label="院校类别" placeholder="请选择" defaultValue={1} fetch={[{ keyName: '禁用', keyValue: 0 }, { keyName: '启用', keyValue: 1 }]} renderItem={this.renderEnableOption} style={{ width: '120px' }} />
      
//     </div>
// </FormItem>     
// </BaseForm> 